<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CottonGest</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Diario<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/trabajador/lista">Trabajador</a>
          <a class="dropdown-item" href="/maquinaria/lista">Maquinaria</a>
          <a class="dropdown-item" href="/cliente/lista">Clientes</a>
          <a class="dropdown-item" href="/destino/lista">Destinos</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
    	<li><a class="nav-link" th:href="@{#}">Bienvenido <span sec:authentication="name"></span></a></li>
    	<li>
    		<form id="logoutForm" th:action="@{/logout}" method="post">
    			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    			<button class="btn btn-info" onclick="document.getElementById('logoutForm').submit()" type="submit">Cerrar Sesion</button>
    		</form>
    	</li>
    </ul>
  </div>
</nav>