<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="container">
		<br>
		<h3>Detalle Cliente</h3>
		<hr>
		<a th:href="@{/cliente/lista}" class="btn btn-warning">Volver</a>
		<br>
		<br>
		<div class="card" style="width: 20rem;">
			<div class="card-header" th:text="'Ref: '+${cliente.idCliente}"></div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"
					th:text="'Nombre: '+${cliente.nombre}"></li>
				<li class="list-group-item"
					th:text="'Apellidos: '+${cliente.apellidos}"></li>
				<li class="list-group-item" th:text="'Dni/Cif: '+${cliente.dni}"></li>
				<li class="list-group-item"
					th:text="'Direccion: '+${cliente.direccion}"></li>
				<li class="list-group-item"
					th:text="'Poblacion: '+${cliente.poblacion}"></li>
				<li class="list-group-item"
					th:text="'Provincia: '+${cliente.provincia}"></li>
				<li class="list-group-item" th:text="'C.P: '+${cliente.cp}"></li>
				<li class="list-group-item"
					th:text="'Telefono: '+${cliente.telefono}"></li>
				<li class="list-group-item" th:text="'Tipo: '+${cliente.alias}"></li>
			</ul>
		</div>
		
	</div>
</body>
</html>