<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="alert alert-success" th:if="${exito != null}"
		th:text="${exito}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>

<div class="container">
<br>
<h3>Listado Clientes</h3>
<hr>
<a th:href="@{/cliente/insertar}"><img src="/assets/img/person-plus.svg" alt="" width="30" height="30" title="Insertar Cliente"></a>
<br>

<br>
<div class="alert alert-info my-4" th:if="${#lists.isEmpty(clientes)}" th:text="'No hay clientes registrados.'"></div>
<div class="table-responsive">
<table th:if="${not #lists.isEmpty(clientes)}" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Ref</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Dni/Cif</th>
      <th scope="col">Poblacion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Tipo</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="cliente: ${clientes}">
    	<td th:text="${cliente.idCliente}"></td>
    	<td th:text="${cliente.nombre}"></td>
      	<td th:text="${cliente.apellidos}"></td>
      	<td th:text="${cliente.dni}"></td>
      	<td th:text="${cliente.poblacion}"></td>
      	<td th:text="${cliente.telefono}"></td>
      	<td th:text="${cliente.alias}"></td>
      	<td><a th:href="@{/cliente/details/} + ${cliente.idCliente}"><img src="/assets/img/search.svg" alt="" width="22" height="22" title="Detalles"></a></td>
      	<td><a th:href="@{/cliente/editar/} + ${cliente.idCliente}"><img src="/assets/img/pencil.svg" alt="" width="22" height="22" title="Editar"></a></td>
      	<td><a th:href="@{/cliente/eliminar/} + ${cliente.idCliente}" onclick="return confirm('Estas seguro que quieres eliminar el cliente?')"><img src="/assets/img/trash.svg" alt="" width="22" height="22" title="Eliminar"></a></td>
      	<td><a th:href="@{/parcela/lista/} + ${cliente.idCliente}"><img src="/assets/img/campos.svg" alt="" width="24" height="24" title="Ver Parcelas"></a></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</body>
</html>