<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="container">
		<br>
		<h3>Detalle Labor</h3>
		<hr>
		<a th:href="@{/}" class="btn btn-warning">Volver</a> <br> <br>
		<div class="card-group">
			<div class="row row-cols-1 row-cols-md-2">
				
					<div class="card p-3" style="width: 20rem;">
						<div class="card-header" th:text="'Ref: '+${labor.idLabor}"></div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item" th:text="'Fecha: '+${labor.fecha}"></li>
							<li class="list-group-item"
								th:text="'Hora Comienzo: '+${labor.entrada}"></li>
							<li class="list-group-item"
								th:text="'Hora Fin: '+${labor.salida}"></li>


							<li class="list-group-item"
								th:text="'Horas Totales Duracion: '+${labor.horas}"></li>
							<li class="list-group-item"
								th:text="'Descripcion Labor: '+${labor.descripcion}"></li>

						</ul>
					</div>
				
					<div class="card p-3" style="width: 20rem;">
						<div class="card-header" th:text="'Datos Cliente'"></div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"
								th:text="'Parcela: '+${labor.parcela.nombre}"></li>
							<li class="list-group-item"
								th:text="'Hectareas Parcela: '+${labor.parcela.ha}"></li>
							<li class="list-group-item"
								th:text="'Cif/Dni Cliente: '+${labor.parcela.cliente.dni}"></li>
							<li class="list-group-item"
								th:text="'Cliente: '+${labor.parcela.cliente.nombre}"></li>
						</ul>
					</div>
				
					<div class="card p-3" style="width: 20rem;">
						<div class="card-header" th:text="'Datos Trabajador'"></div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"
								th:text="'Dni Trabajador: '+${labor.trabajador.dni}"></li>
							<li class="list-group-item"
								th:text="'Nombre Trabajador: '+${labor.trabajador.nombre}"></li>
							<li class="list-group-item"
								th:text="'Apellidos Trabajador: '+${labor.trabajador.apellidos}"></li>
							<li class="list-group-item"
								th:text="'Categoria Trabajador: '+${labor.trabajador.tipo}"></li>
						</ul>

					</div>
				
			
					<div class="card p-3" style="width: 20rem;">
						<div class="card-header"
							th:text="'Datos Maquinaria/Datos Destino Algodon'"></div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"
								th:text="'Matricula Maquinaria: '+${labor.maquinaria.matricula}"></li>
							<li class="list-group-item"
								th:text="'Descripcion Maquinaria: '+${labor.maquinaria.nombre}"></li>
							<li class="list-group-item"
								th:text="'Tipo Maquinaria: '+${labor.maquinaria.tipo}"></li>
							<li class="list-group-item" th:text="'Kilos: '+${labor.kilos}"></li>
							<li class="list-group-item"
								th:text="'Destino: '+${labor.destino.nombre}"></li>
						</ul>
					</div>
				
			</div>
		</div>


	</div>
</body>
</html>