<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>

	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
		<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<div class="alert alert-info" th:if="${info != null}"
		th:text="${info}"></div>
	<div class="container">

		<br>
		<h3 th:text="'Campaña Algodón 2020'"></h3>
		<p class="lead text-muted"
			th:text="${#temporals.format(localDate, 'dd-MM-yyyy')}"></p>
		<p>
		<hr>

		<h5>
			Filtro
			</h6>
			<form th:object="${filtroFecha}" th:action="@{/filtrofecha}"
				method="POST">
				<div class="form-row">
					<div class="col-md-6 mb-3">
						<label for="fecha">Fecha</label> <input type="date"
							class="form-control" th:field="*{fecha}">
					</div>
					<div class="col-md-6 mb-3">
						<label for="parcela">Parcela</label> <select name="Parcela"
							class="form-control">
							<option value="">------</option>
							<option th:each="parcela : ${parcelas}"
								th:value="${parcela.idParcela}" th:text="${parcela.nombre}"></option>
						</select>
					</div>
				</div>
				<input type="submit" class="btn btn-outline-success" value="Buscar">
				


			</form>
			<hr>
			<a th:href="@{/labor/insertar}"><img
				src="/assets/img/algodon.svg" alt="" width="30" height="30"
				title="Insertar Labor"></a> 
			<a th:href="@{'/'(format=pdf)}" class="btn btn-light btn-xs float-right"><img src="/assets/img/pdf.jpg" alt="" width="40" height="40" title="pdf"></a>
			<br>
			<br>
			<div class="alert alert-info my-4" th:if="${labores.size <= 0}"
				th:text="'No hay Datos Registrados de la campaña para la fecha indicada.'"></div>
			<div class="table-responsive">
				<table th:if="${not #lists.isEmpty(labores)}" class="table">
					<thead class="thead-light">
						<tr>
							<th scope="col">Ref</th>
							<th scope="col">Parcela</th>
							<th scope="col">Cliente</th>
							<th scope="col">Fecha</th>
							<th scope="col">Hora Entrada</th>
							<th scope="col">Hora Salida</th>
							<th scope="col">Trabajador</th>
							<th scope="col">Maquinaria</th>
							<th scope="col">Kilos</th>
							<th scope="col">Horas Totales</th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="labor: ${labores}">
							<td th:text="${labor.idLabor}"></td>
							<td th:text="${labor.parcela.nombre}"></td>
							<td th:text="${labor.parcela.cliente.nombre}"></td>
							<td th:text="${labor.fecha}"></td>
							<td th:text="${labor.entrada}"></td>
							<td th:text="${labor.salida}"></td>
							<td th:text="${labor.trabajador.nombre}"></td>
							<td th:text="${labor.maquinaria.nombre}"></td>
							<td th:text="${labor.kilos}"></td>
							<td th:text="${labor.horas}"></td>
							<td><a th:href="@{/labor/details/} + ${labor.idLabor}"><img
									src="/assets/img/search.svg" alt="" width="22" height="22"
									title="Detalles"></a></td>
							<td><a th:href="@{/labor/editar/} + ${labor.idLabor}"><img
									src="/assets/img/pencil.svg" alt="" width="22" height="22"
									title="Editar"></a></td>
							<td><a th:href="@{/labor/eliminar/} + ${labor.idLabor}"
								onclick="return confirm('Estas seguro que quieres eliminar la labor?')"><img
									src="/assets/img/trash.svg" alt="" width="22" height="22"
									title="Eliminar"></a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="fragments/paginator :: paginator"></nav>
			</div>
	</div>

</body>
</html>