<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="container">
		<br>
		<h3 th:text="${titulo}"></h3>
		<hr>
		<form th:object="${labor}" th:action="@{/labor/guardar}"
			method="POST">
			<input type="hidden" th:field="*{idLabor}"> 
			<div class="form-group">
				<label for="parcela">Parcela</label> <select
					name="Parcela" class="form-control" required>
					<option th:each="parcela : ${parcelas}" th:value="${parcela.idParcela}" th:text="${parcela.nombre}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="fecha">Fecha</label> <input type="date"
					class="form-control" th:field="*{fecha}" required>
			</div>
			<div class="form-group">
				<label for="entrada">Entrada</label> <input type="time"
					class="form-control" th:field="*{entrada}" required>
			</div>
			<div class="form-group">
				<label for="salida">Salida</label> <input type="time"
					class="form-control" th:field="*{salida}" required>
			</div>
			<div class="form-group">
				<label for="trabajador">Trabajador</label> <select
					name="trabajador" class="form-control" required>
					<option th:each="trabajador : ${trabajadores}" th:value="${trabajador.idTrabajador}" th:text="${trabajador.nombre}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="maquinaria">Maquinaria</label> <select
					name="maquinaria" class="form-control" required>
					<option th:each="maquina : ${maquinas}" th:value="${maquina.idMaquinaria}" th:text="${maquina.nombre}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="destino">Destino</label> <select
					name="destino" class="form-control" required>
					<option th:each="destino : ${destinos}" th:value="${destino.idDestino}" th:text="${destino.nombre}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="kilos">Kilos</label> <input type="number" step='0.01'
					class="form-control" th:field="*{kilos}" required>
			</div>
			<div class="form-group">
				<label for="descripcion">Descripcion</label> <input type="text"
					class="form-control" th:field="*{descripcion}" required>
			</div>
			<input type="submit" value="Insertar" class="btn btn-primary">
			<a th:href="@{/}" class="btn btn-warning">Volver</a>
		</form>
	</div>
</body>
</html>