<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body class="text-center bg-light">
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<div class="alert alert-success" th:if="${exito != null}"
		th:text="${exito}"></div>
		<br>
	<div class="container">
		<div id="carouselExampleIndicators" class="carousel slide"
			data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0"
					class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="img-fluid" src="/assets/fondo.png" alt="First slide">
				</div>
				<div class="carousel-item">
					<img class="img-fluid" src="/assets/fondo2.jpg" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img class="img-fluid" src="/assets/fondo3.png" alt="Third slide">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators"
				role="button" data-slide="prev"> <span
				class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="sr-only">Previous</span>
			</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
				role="button" data-slide="next"> <span
				class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div class="container">

		<form class="form" th:action="@{/login}" method="POST">
			<br>
			<h1 class="h2 mb-3 font-weight-normal">Inicio Sesi&oacute;n</h1>
			<div class="form-group">
				<label for="inputusername" class="sr-only">Usuario</label> <input
					type="text" id="username" name="username" class="form-control"
					placeholder="Usuario" required autofocus>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="sr-only">Password</label> <input
					type="password" id="password" name="password" class="form-control"
					placeholder="Password" required>
			</div>
			<button class="btn btn-lg btn-success btn-block" type="submit">Acceso</button>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<p class="mt-5 mb-3 text-muted">&copy; CottonGest 2020</p>
		</form>
	</div>

</body>
</html>