<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
<div class="container">
<br>
<br>
<h2>Oops ocurri&oacute; alg&uacute;n problema!</h2>
<hr>
<div th:text="${error}"></div>
<div th:text="${message}"></div>
<div th:text="${status}"></div>
<div th:text="${timestamp}"></div>
</div>

</body>
</html>