<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="container">
		<br>
		<h3>Detalle Destino</h3>
		<hr>
		<a th:href="@{/destino/lista}" class="btn btn-warning">Volver</a>
		<br>
		<br>
		<div class="card" style="width: 20rem;">
			<div class="card-header" th:text="'Ref: '+${destino.idDestino}"></div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"
					th:text="'Nombre: '+${destino.nombre}"></li>
				<li class="list-group-item"
					th:text="'Poblacion: '+${destino.poblacion}"></li>
			</ul>
		</div>
		
	</div>
</body>
</html>