<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="alert alert-success" th:if="${exito != null}"
		th:text="${exito}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>

<div class="container">
<br>
<h3>Listado Destinos</h3>
<hr>
<a th:href="@{/destino/insertar}"><img src="/assets/img/molino.svg" alt="" width="32" height="32" title="Insertar Destino"></a>
<br>

<br>
<div class="alert alert-info my-4" th:if="${#lists.isEmpty(destinos)}" th:text="'No hay destinos registrados.'"></div>
<div class="table-responsive">
<table th:if="${not #lists.isEmpty(destinos)}" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Ref</th>
      <th scope="col">Nombre</th>
      <th scope="col">Poblacion</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="destino: ${destinos}">
    	<td th:text="${destino.idDestino}"></td>
    	<td th:text="${destino.nombre}"></td>
      	<td th:text="${destino.poblacion}"></td>
      	<td><a th:href="@{/destino/details/} + ${destino.idDestino}"><img src="/assets/img/search.svg" alt="" width="22" height="22" title="Detalles"></a></td>
      	<td><a th:href="@{/destino/editar/} + ${destino.idDestino}"><img src="/assets/img/pencil.svg" alt="" width="22" height="22" title="Editar"></a></td>
      	<td><a th:href="@{/destino/eliminar/} + ${destino.idDestino}" onclick="return confirm('Estas seguro que quieres eliminar el destino?')"><img src="/assets/img/trash.svg" alt="" width="22" height="22" title="Eliminar"></a></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</body>
</html>