<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="container">
		<br>
		<h3>Detalle Maquinaria</h3>
		<hr>
		<a th:href="@{/maquinaria/lista}" class="btn btn-warning">Volver</a>
		<br>
		<br>
		<div class="card" style="width: 20rem;">
			<div class="card-header" th:text="'Ref: '+${maquinaria.idMaquinaria}"></div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"
					th:text="'Nombre: '+${maquinaria.nombre}"></li>
				<li class="list-group-item"
					th:text="'Matricula '+${maquinaria.matricula}"></li>
				<li class="list-group-item" th:text="'Tipo: '+${maquinaria.tipo}"></li>
				<li class="list-group-item"
					th:text="'Modelo: '+${maquinaria.modelo}"></li>
				<li class="list-group-item"
					th:text="'Propia: '+${maquinaria.propia}"></li>
			</ul>
		</div>
		
	</div>
</body>
</html>