<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="container">
		<br>
		<h3 th:text="${titulo}"></h3>
		<hr>
		<form th:object="${maquinaria}" th:action="@{/maquinaria/guardar}"
			method="POST">
			<input type="hidden" th:field="*{idMaquinaria}">
			<div class="form-group">
				<label for="nombre">Nombre</label> <input type="text"
					class="form-control" th:field="*{nombre}" required>
			</div>
			<div class="form-group">
				<label for="matricula">Matricula</label> <input type="text"
					class="form-control" th:field="*{matricula}">
			</div>
			<div class="form-group">
				<label for="tipo">Tipo</label> <select th:field="*{tipo}"
					class="form-control" required>
					<option th:value="'Tractor'" th:text="'Tractor'"></option>
					<option th:value="'Cosechadora'" th:text="'Cosechadora'"></option>
					<option th:value="'Remolque'" th:text="'Remolque'"></option>
					<option th:value="'Transportin'" th:text="'Transportin'"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="modelo">Modelo</label> <input type="text"
					class="form-control" th:field="*{modelo}">
			</div>
			<div class="form-group">
				<label for="propia">Propia</label> <select
					th:field="*{propia}" class="form-control" required>
					<option th:value="'Si'" th:text="Si"></option>
					<option th:value="'No'" th:text="No"></option>
				</select>
			</div>
			<input type="submit" value="Insertar" class="btn btn-primary">
			<a th:href="@{/maquinaria/lista}" class="btn btn-warning">Volver</a>
		</form>
	</div>
</body>
</html>