<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="alert alert-success" th:if="${exito != null}"
		th:text="${exito}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>

<div class="container">
<br>
<h3>Listado Maquinas</h3>
<hr>
<a th:href="@{/maquinaria/insertar}"><img src="/assets/img/tractor.svg" alt="" width="34" height="34" title="Insertar Maquinaria"></a>
<br>

<br>
<div class="alert alert-info my-4" th:if="${#lists.isEmpty(maquinas)}" th:text="'No hay maquinas registradas.'"></div>
<div class="table-responsive">
<table th:if="${not #lists.isEmpty(maquinas)}" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Ref</th>
      <th scope="col">Nombre</th>
      <th scope="col">Matricula</th>
      <th scope="col">Tipo</th>
      <th scope="col">Modelo</th>
      <th scope="col">Propia</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="maquina: ${maquinas}">
    	<td th:text="${maquina.idMaquinaria}"></td>
    	<td th:text="${maquina.nombre}"></td>
      	<td th:text="${maquina.matricula}"></td>
      	<td th:text="${maquina.tipo}"></td>
      	<td th:text="${maquina.modelo}"></td>
      	<td th:text="${maquina.propia}"></td>
      	<td><a th:href="@{/maquinaria/details/} + ${maquina.idMaquinaria}"><img src="/assets/img/search.svg" alt="" width="22" height="22" title="Detalles"></a></td>
      	<td><a th:href="@{/maquinaria/editar/} + ${maquina.idMaquinaria}"><img src="/assets/img/pencil.svg" alt="" width="22" height="22" title="Editar"></a></td>
      	<td><a th:href="@{/maquinaria/eliminar/} + ${maquina.idMaquinaria}" onclick="return confirm('Estas seguro que quieres eliminar la maquina?')"><img src="/assets/img/trash.svg" alt="" width="22" height="22" title="Eliminar"></a></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</body>
</html>