<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="container">
		<br>
		<h3>Detalle Trabajador</h3>
		<hr>
		<a th:href="@{/trabajador/lista}" class="btn btn-warning">Volver</a>
		<br>
		<br>
		<div class="card" style="width: 20rem;">
			<div class="card-header" th:text="'Ref: '+${trabajador.idTrabajador}"></div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"
					th:text="'Nombre: '+${trabajador.nombre}"></li>
				<li class="list-group-item"
					th:text="'Apellidos: '+${trabajador.apellidos}"></li>
				<li class="list-group-item" th:text="'Dni: '+${trabajador.dni}"></li>
				<li class="list-group-item"
					th:text="'Direccion: '+${trabajador.direccion}"></li>
				<li class="list-group-item"
					th:text="'Poblacion: '+${trabajador.poblacion}"></li>
				<li class="list-group-item"
					th:text="'Provincia: '+${trabajador.provincia}"></li>
				<li class="list-group-item" th:text="'C.P: '+${trabajador.cp}"></li>
				<li class="list-group-item"
					th:text="'Telefono: '+${trabajador.telefono}"></li>
				<li class="list-group-item" th:text="'Tipo: '+${trabajador.tipo}"></li>
				<li class="list-group-item"
					th:text="'Externo: '+${trabajador.externo}"></li>
			</ul>
		</div>
		
	</div>
</body>
</html>