<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="alert alert-success" th:if="${exito != null}"
		th:text="${exito}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>

<div class="container">
<br>
<h3>Listado Trabajadores</h3>
<hr>
<a th:href="@{/trabajador/insertar}"><img src="/assets/img/person-plus.svg" alt="" width="30" height="30" title="Insertar Trabajador"></a>
<br>

<br>
<div class="alert alert-info my-4" th:if="${#lists.isEmpty(trabajadores)}" th:text="'No hay trabajadores registrados.'"></div>
<div class="table-responsive">
<table th:if="${not #lists.isEmpty(trabajadores)}" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Ref</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Dni</th>
      <th scope="col">Poblacion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Tipo</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="trabajador: ${trabajadores}">
    	<td th:text="${trabajador.idTrabajador}"></td>
    	<td th:text="${trabajador.nombre}"></td>
      	<td th:text="${trabajador.apellidos}"></td>
      	<td th:text="${trabajador.dni}"></td>
      	<td th:text="${trabajador.poblacion}"></td>
      	<td th:text="${trabajador.telefono}"></td>
      	<td th:text="${trabajador.tipo}"></td>
      	<td><a th:href="@{/trabajador/details/} + ${trabajador.idTrabajador}"><img src="/assets/img/search.svg" alt="" width="22" height="22" title="Detalles"></a></td>
      	<td><a th:href="@{/trabajador/editar/} + ${trabajador.idTrabajador}"><img src="/assets/img/pencil.svg" alt="" width="22" height="22" title="Editar"></a></td>
      	<td><a th:href="@{/trabajador/eliminar/} + ${trabajador.idTrabajador}" onclick="return confirm('Estas seguro que quieres eliminar el trabajador?')"><img src="/assets/img/trash.svg" alt="" width="22" height="22" title="Eliminar"></a></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</body>
</html>