<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="container">
		<br>
		<h3 th:text="${titulo}"></h3>
		<hr>
		<form th:object="${parcela}" th:action="@{/parcela/guardar}"
			method="POST">
			<input type="hidden" th:field="*{idParcela}"> 
			<div class="form-group">
				<label for="nombre">Nombre</label> <input type="text"
					class="form-control" th:field="*{nombre}" required>
			</div>
			<div class="form-group">
				<label for="ha">Hectareas</label> <input type="number" step='0.01'
					class="form-control" th:field="*{ha}" required>
			</div>
			<div class="form-group">
				<label for="poblacion">Cliente</label> <select
					name="cliente" class="form-control" required>
					<option th:each="cliente : ${clientes}" th:value="${cliente.idCliente}" th:text="${cliente.nombre}"></option>
				</select>
			</div>
			<input type="submit" value="Insertar" class="btn btn-primary">
			<a th:href="@{/cliente/lista}" class="btn btn-warning">Volver</a>
		</form>
	</div>
</body>
</html>