<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<nav>
		<th:block th:replace="fragments/nav :: nav">
	</nav>
	<div class="alert alert-success" th:if="${exito != null}"
		th:text="${exito}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>

<div class="container">
<br>
<h3 th:text="'Listado Parcelas '+${cliente.nombre}"></h3>
<hr>
<a th:href="@{/parcela/insertar}"><img src="/assets/img/campos.svg" alt="" width="32" height="32" title="Insertar Parcela"></a>
<br>

<br>
<div class="alert alert-info my-4" th:if="${#lists.isEmpty(parcelas)}" th:text="'No hay parcelas registradas para este cliente.'"></div>
<div class="table-responsive">
<table th:if="${not #lists.isEmpty(parcelas)}" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Ref</th>
      <th scope="col">Nombre</th>
      <th scope="col">Hectareas</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="parcela: ${parcelas}">
    	<td th:text="${parcela.idParcela}"></td>
    	<td th:text="${parcela.nombre}"></td>
      	<td th:text="${parcela.ha}"></td>
      	<td><a th:href="@{/parcela/editar/} + ${parcela.idParcela}"><img src="/assets/img/pencil.svg" alt="" width="22" height="22" title="Editar"></a></td>
      	<td><a th:href="@{/parcela/eliminar/} + ${parcela.idParcela}" onclick="return confirm('Estas seguro que quieres eliminar la parcela?')"><img src="/assets/img/trash.svg" alt="" width="22" height="22" title="Eliminar"></a></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</body>
</html>